<!DOCTYPE html>
<html lang="zxx">
    <head>
        <!-- Meta Tags -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
        <meta name="description" content="Mrittik is a Modern Architecture Theme">
        <meta name="author" content="">

        <!-- Favicon and touch Icons -->
        <link href="../static/img/favicon.png" rel="shortcut icon" type="image/png">
        <link href="../static/img/apple-touch-icon.png" rel="apple-touch-icon">
        <link href="../static/img/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
        <link href="../static/img/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
        <link href="../static/img/apple-touch-icon-144x144.png" rel="apple-touch-icon" sizes="144x144">

        <!-- Page Title -->
        <title>5K MÜHENDİSLİK  - Modern Mimari Yapılar</title>    
        
        <!-- Styles Include -->
        <link rel="stylesheet" href="../static/css/style.css">
        
    </head>


    <body class="bg-dark">
        {% include 'besk/part/__header.html' %}
        
        {% block content %}
        {% endblock content %}
        
        
        <!-- Core JS -->
        <script src="../static/js/jquery-3.6.0.min.js"></script>
        <script src="../static/js/bootstrap.bundle.min.js"></script>

        <!-- Side Menu -->
        <script src="../plugins/menu/ma5-menu.min.js"></script>
        
        <!-- Swiper for Slider Type -->
        <script src="../plugins/swiper/swiper-bundle.min.js"></script>
        
        

        <!-- Cursor Effect -->
        <script src="../plugins/cursor-effect/cursor-effect.js"></script>
        
        <!-- Select2 -->
        <script src="../plugins/select2/js/select2.min.js"></script>
        
        <!-- AOS effect JS -->
        <script src="../plugins/aos/aos.js"></script>
        
        <!-- Theme Custom JS -->
        <script src="../static/js/theme.js"></script>
        
        <!-- Core JS -->
        <script src="../static/js/jquery-3.6.0.min.js"></script>
        <script src="../static/js/bootstrap.bundle.min.js"></script>

        <!-- Side Menu -->
        <script src="../plugins/menu/ma5-menu.min.js"></script>
        
        <!-- Swiper for Slider Type -->
        <script src="../plugins/swiper/swiper-bundle.min.js"></script>
        
        <!-- Funfacts -->
        <script src="../static/js/funfacts.js"></script>
        
        <!-- Portfolio -->
        <script src="../plugins/isotope/isotope.pkgd.min.js"></script>
        <script src="../plugins/isotope/imagesloaded.pkgd.min.js"></script>
        <script src="../plugins/isotope/packery-mode.pkgd.js"></script>
        <script src="../plugins/isotope/tilt.jquery.js"></script>
        <script src="../plugins/isotope/isotope-init.js"></script>
        
        

        <!-- Cursor Effect -->
        <script src="../plugins/cursor-effect/cursor-effect.js"></script>
        
        <!-- Select2 -->
        <script src="../plugins/select2/js/select2.min.js"></script>
        
        <!-- AOS effect JS -->
        <script src="../plugins/aos/aos.js"></script>
        
        <!-- Theme Custom JS -->
        <script src="../static/js/theme.js"></script>
    </body>
</html>