{% extends 'besk/base.html' %}
    
    {% block content %}
        <main class="wrapper">
            <section class="services inner pb-0 mt-5">
                <div class="container">
                    <div class="row">
                        <h3 class="text-center">{{ fa1.name }}</h3>
                        {% for faaliyet in faaliyet1 %}
                            <div class="col-lg-4 my-4" data-aos="fade-up" data-aos-duration="500">
                                <div class="icon_box">
                                    <h6>{{ faaliyet.id }}</h6>
                                    <h4 class="text-white"><a href="service-1.html">{{faaliyet.faaliyet}}</a></h4>
                                    <p class="text-gray-600">{{ faaliyet.name }}</p>
                                    <div class="arrow_effect">
                                        <a href=""><span class="crossline1"></span><span class="crossline2"></span></a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row">
                        <h3 class="text-center">{{ fa2.name }}</h3>
                        {% for faaliyet in faaliyet2 %}
                            <div class="col-lg-4 my-4" data-aos="fade-up" data-aos-duration="500">
                                <div class="icon_box">
                                    <h6>{{ faaliyet.id }}</h6>
                                    <h4 class="text-white"><a href="service-1.html">{{faaliyet.faaliyet}}</a></h4>
                                    <p class="text-gray-600">{{ faaliyet.name }}</p>
                                    <div class="arrow_effect">
                                        <a href=""><span class="crossline1"></span><span class="crossline2"></span></a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    
                    <div class="row">
                        <h3 class="text-center">{{ fa4.name }}</h3>
                        {% for faaliyet in faaliyet4 %}
                            <div class="col-lg-4 my-4" data-aos="fade-up" data-aos-duration="500">
                                <div class="icon_box">
                                    <h6>{{ faaliyet.id }}</h6>
                                    <h4 class="text-white"><a href="service-1.html">{{faaliyet.faaliyet}}</a></h4>
                                    <p class="text-gray-600">{{ faaliyet.name }}</p>
                                    <div class="arrow_effect">
                                        <a href=""><span class="crossline1"></span><span class="crossline2"></span></a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row">
                        <h3 class="text-center">{{ fa7.name }}</h3>
                        {% for faaliyet in faaliyet7 %}
                            <div class="col-lg-4 my-4" data-aos="fade-up" data-aos-duration="500">
                                <div class="icon_box">
                                    <h6>{{ faaliyet.id }}</h6>
                                    <h4 class="text-white"><a href="service-1.html">{{faaliyet.faaliyet}}</a></h4>
                                    <p class="text-gray-600">{{ faaliyet.name }}</p>
                                    <div class="arrow_effect">
                                        <a href=""><span class="crossline1"></span><span class="crossline2"></span></a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row">
                        <h3 class="text-center">{{ fa3.name }}</h3>
                        {% for faaliyet in faaliyet3 %}
                            <div class="col-lg-4 my-4" data-aos="fade-up" data-aos-duration="500">
                                <div class="icon_box">
                                    <h6>{{ faaliyet.id }}</h6>
                                    <h4 class="text-white"><a href="service-1.html">{{faaliyet.faaliyet}}</a></h4>
                                    <p class="text-gray-600">{{ faaliyet.name }}</p>
                                    <div class="arrow_effect">
                                        <a href=""><span class="crossline1"></span><span class="crossline2"></span></a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row">
                        <h3 class="text-center">{{ fa5.name }}</h3>
                        {% for faaliyet in faaliyet5 %}
                            <div class="col-lg-4 my-4" data-aos="fade-up" data-aos-duration="500">
                                <div class="icon_box">
                                    <h6>{{ faaliyet.id }}</h6>
                                    <h4 class="text-white"><a href="service-1.html">{{faaliyet.faaliyet}}</a></h4>
                                    <p class="text-gray-600">{{ faaliyet.name }}</p>
                                    <div class="arrow_effect">
                                        <a href=""><span class="crossline1"></span><span class="crossline2"></span></a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row">
                        <h3 class="text-center">{{ fa6.name }}</h3>
                        {% for faaliyet in faaliyet6 %}
                            <div class="col-lg-4 my-4" data-aos="fade-up" data-aos-duration="500">
                                <div class="icon_box">
                                    <h6>{{ faaliyet.id }}</h6>
                                    <h4 class="text-white"><a href="service-1.html">{{faaliyet.faaliyet}}</a></h4>
                                    <p class="text-gray-600">{{ faaliyet.name }}</p>
                                    <div class="arrow_effect">
                                        <a href=""><span class="crossline1"></span><span class="crossline2"></span></a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
        </main>
        {% include 'besk/part/__footer.html' %}
        <ul class="grid_lines d-none d-md-flex justify-content-between">
            <li class="grid_line"></li>
            <li class="grid_line"></li>
            <li class="grid_line"></li>
            <li class="grid_line"></li>
            <li class="grid_line"></li>
            <li class="grid_line"></li>
            <li class="grid_line"></li>
        </ul>
    {% endblock %}
