{% extends 'besk/base.html' %}
    
    {% block content %}
        <!-- Main Wrapper-->
        <main class="wrapper">
            <div class="theme_slider bg-black">
                <div class="container">
                    <div class="swiper swiper_theme_slider">
                        <div class="swiper-wrapper">
                            {% for pro in program %}
                                <div class="swiper-slide">
                                    <div class="slider" style="background-image: url('{{pro.image.url}}')">
                                        <div class="slide_content">
                                            <div class="slide_content_wrapper mb-0 h-auto bg-dark-100">
                                                <div class="slide_content_inner">
                                                    <div class="meta m-0">
                                                        <div class="category text-olive text-uppercase">{{ pro.name }}</div>
                                                    </div>
                                                    <h4><a href="project-details.html" class="text-white">{{ pro.name }}</a></h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <ul class="grid_lines d-none d-md-flex justify-content-between">
            <li class="grid_line"></li>
            <li class="grid_line"></li>
            <li class="grid_line"></li>
            <li class="grid_line"></li>
            <li class="grid_line"></li>
            <li class="grid_line"></li>
            <li class="grid_line"></li>
        </ul>
    {% endblock content%}