{% extends 'besk/base.html' %}
    
    {% block content %}
        <main class="wrapper">
            <section class="services inner pb-0 mt-5">
                <div class="container">
                    <div class="row">
                        {% for referans in referanslar %}
                            <div class="col-lg-4 my-4" data-aos="fade-up" data-aos-duration="500">
                                <div class="icon_box">
                                    <h6>{{ referans.year }}</h6>
                                    <h4 class="text-white"><a href="service-1.html">{{referans.who}}</a></h4>
                                    <p class="text-gray-600">{{ referans.name }}</p>
                                    <div class="arrow_effect">
                                        <a href="service-1.html"><span class="crossline1"></span><span class="crossline2"></span></a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
        </main>
        {% include 'besk/part/__footer.html' %}
        <ul class="grid_lines d-none d-md-flex justify-content-between">
            <li class="grid_line"></li>
            <li class="grid_line"></li>
            <li class="grid_line"></li>
            <li class="grid_line"></li>
            <li class="grid_line"></li>
            <li class="grid_line"></li>
            <li class="grid_line"></li>
        </ul>
    {% endblock %}
